/* ======== General Styles ======== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #006494;
}

body {
  background-color: #003554;
}

body, input, select, textarea {
  font-family: 'Poppins', sans-serif;
  color: #ababab;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #0082c1;
  margin-top: 1.25em;
}

main {
  width: 90%;
  margin: auto;
}

fieldset {
  border: none;
}

li {
  list-style: none;
  padding-bottom: 1em;
  padding-left: .5em;
}

label {
  flex-basis: 30%;
}

p {
  line-height: 1.5;
}

button {
  width: 100%;
  margin-top: 1.5em;
  padding: 1.15em 2em;
  font-size: 1.25em;
  font-family: 'Roboto Slab', serif;
  background-color: #004D74;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover, button:focus {
  background-color: #0075FF;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

/* ======== Header ======== */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 117, 255);
  background: linear-gradient(180deg, rgba(0, 117, 255, 1) 50%, rgba(0, 53, 84, 1) 100%);
  color: #fff;
  font-size: 2.25em;
  padding: 1em 0;
}

.title {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  text-shadow: 3px 3px 4px #0000009e;
}

/* ======== Call To Action ======== */

.cta {
  text-align: center;
  border-bottom: 5px solid #006494;
  padding-bottom: 3em;
}

.cta p {
  padding-top: .75em;
}

/* ======== Contact Information ======== */

.contact-info, .main-bottom {
  border-top: 3px solid #006494;
  margin-top: 4px;
}

.contact-fields {
  margin: 1.5em 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: .75em;
}

.field {
  flex-basis: 70%;
}

.field, .zip-field {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  margin: .25em 0 .5em;
  padding: .85em;
  color: #666;
  font-size: 1.15em;
}

.field:focus, .zip-field:focus, .comments textarea:focus {
  background-color: #0075FF;
  color: #fff;
  border: none;
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

::placeholder {
  text-align: right;
  padding-right: .75em;
  font-style: italic;
  font-size: .75em;
  font-family: 'Roboto Slab', serif;
  color: #8a8a8a;
}

input#zip {
  width: 10em;
}

/* ======== Newsletter ======== */

.newsletter p {
  padding: 1.5em .25em;
}

.newsletter label {
  padding: 0.5em;
}

.radios li:last-child, .checkboxes li:last-child {
  padding-bottom: .5em;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments textarea {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  height: 120px;
  color: #666;
  margin-top: .5em;
}

.comments span {
  display: block;
  padding-top: .5em;
}

/* ========Footer ======== */

footer {
  text-align: center;
  padding: 2em;
}

/* ======== Media Queries ======== */

@media screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  body {
    max-width: 800px;
    margin: auto;
  }
}